# Python
__pycache__/
*.py[cod]
*.pyo


# Django
db.sqlite3
*.log
media/
staticfiles/

# VS Code
.vscode/

# Migrations cache
*/migrations/*.pyc
*/migrations/__pycache__/

# Environment
.env
venv/
env/