{% extends 'layout.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">

        <h2>Create Account</h2>
        <p class="subtitle">Join the classroom platform</p>
       
<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn-primary">Register</button>
</form>
        <p class="auth-footer">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>

{% endblock %}