{% extends 'layout.html' %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}

<div class="dashboard-header">
    <div>
        <h1>Teacher Dashboard</h1>
        <p>Welcome, {{ request.user.username }}</p>
    </div>

   <div class="header-actions">
    <a href="{% url 'create_course' %}" class="btn-primary">+ Create Course</a>
    <a href="{% url 'logout' %}" class="btn-danger">Logout</a>
</div>
</div>

<h2 class="section-title">My Courses</h2>

<div class="course-grid">
    {% for course in courses %}
    
    <div class="course-card">
        
        <!-- Clickable Area -->
        <a href="{% url 'course_detail' course.id %}" class="card-link">
    <div class="course-header">
        <h3>{{ course.name }}</h3>
    </div>

    <div class="course-body">
        <p><strong>{{ course.subject }}</strong></p>
        <p>Code: {{ course.course_code }}</p>
        <p>{{ course.student_count }} Students</p>
    </div>
</a>

        <!-- Actions -->
        <div class="course-actions">
            <a href="{% url 'upload_material' course.id %}">Upload Material</a>
            <a href="{% url 'create_assignment' course.id %}">Create Assignment</a>
           
        </div>

        <!-- Bottom actions -->
        <div class="course-footer">
            <a href="{% url 'update_course' course.id %}">Edit</a>
            <a href="{% url 'delete_course' course.id %}" class="danger">Delete</a>
        </div>

    </div>

    {% empty %}
    <p>No courses created yet.</p>
    {% endfor %}
</div>

{% endblock %}