{% extends 'layout.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<div class="leaderboard-container">

    <h2>🏆 Leaderboard - {{ course.name }}</h2>

    <div class="leaderboard-card">

        <div class="leader-header">
            <span>Rank</span>
            <span>Student</span>
            <span>Score</span>
        </div>

        {% for student in leaderboard %}
        <div class="leader-row 
            {% if student.student.username == request.user.username %}highlight{% endif %}">

            <!-- RANK -->
            <span>
                {% if forloop.counter == 1 %}
                    🥇
                {% elif forloop.counter == 2 %}
                    🥈
                {% elif forloop.counter == 3 %}
                    🥉
                {% else %}
                    #{{ forloop.counter }}
                {% endif %}
            </span>

            <!-- NAME -->
            <span>{{ student.student.username }}</span>

            <!-- SCORE -->
            <span>{{ student.total_score }}</span>

        </div>
        {% empty %}
            <p class="empty">No submissions yet 🚀</p>
        {% endfor %}

    </div>

</div>

{% endblock %}