<h2>Leaderboard - {{ course.name }}</h2>

<table border="1">
    <tr>
        <th>Rank</th>
        <th>Student</th>
        <th>Total Score</th>
    </tr>

    {% for student in leaderboard %}
    <tr>
        <td>
            {% if forloop.counter == 1 %}
                🥇
            {% elif forloop.counter == 2 %}
                🥈
            {% elif forloop.counter == 3 %}
                🥉
            {% else %}
                {{ forloop.counter }}
            {% endif %}
        </td>

        <td>{{ student.student__username }}</td>
        <td>{{ student.total_score }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No submissions yet.</td>
    </tr>
    <tr {% if student.student__username == request.user.username %} style="background-color:#d4edda;" {% endif %}>

    {% endfor %}
</table>
