{% extends 'layout.html' %}

{% block content %}

<div class="chat-page">

    <div class="chat-header">
        <h2>Doubt Box - {{ course.name }}</h2>
    </div>

    <div class="chat-box" id="chatBox">
        {% for msg in doubts %}
            <div class="chat-message {% if msg.sender == request.user %}my-msg{% else %}other-msg{% endif %}">
                
                <div class="msg-header">
                    {{ msg.sender.username }} • {{ msg.timestamp|date:"H:i" }}
                </div>

                <div class="msg-text">
                    {{ msg.message }}
                </div>

            </div>
        {% empty %}
            <p class="empty">No doubts yet.</p>
        {% endfor %}
    </div>

    <!-- INPUT -->
    <form method="POST" class="chat-input-box">
        {% csrf_token %}

        <input 
            type="text" 
            name="message" 
            placeholder="Type your doubt..." 
            required
        >

        <button type="submit">Send</button>
    </form>

</div>

{% endblock %}