{% extends 'layout.html' %}

{% block content %}

<div class="chat-page">

    <div class="chat-header">
        <h2>Doubt Box - {{ course.name }}</h2>
    </div>

    <div class="chat-box" id="chatBox">
        {% for msg in messages %}
            <div class="chat-message {% if msg.sender == request.user %}my-msg{% else %}other-msg{% endif %}">
                
                <div class="msg-header">
                    {{ msg.sender.username }} • {{ msg.timestamp|date:"H:i" }}
                </div>

                <div class="msg-text">
                    {{ msg.message }}
                </div>

            </div>
        {% endfor %}
    </div>

    <!-- INPUT -->
    <form id="chatForm" class="chat-input">
        {% csrf_token %}
        <input type="text" id="messageInput" placeholder="Type your doubt..." required>
        <button type="submit">Send</button>
    </form>

</div>

{% endblock %}