{% extends 'layout.html' %}
{% block title %}Course Detail{% endblock %}

{% block content %}

<!-- COURSE HEADER -->
<div class="course-banner">

    <div class="banner-left">
        <h1>{{ course.name }}</h1>
        <p>{{ course.subject }}</p>
    </div>

    <!-- RIGHT SIDE -->
     {% if user == course.teacher %}
    <div class="banner-right">
        <div class="menu-container">
            <button class="menu-btn" onclick="toggleMenu(event)">⋮</button>

            <div class="dropdown-menu">
                <a href="#">📤 Upload Material</a>
                <a href="#">📝 Create Assignment</a>
                <a href="#">✏ Edit Course</a>
                <a href="#" class="danger">🗑 Delete Course</a>
            </div>
        </div>
    </div>
        {% endif %}

</div>



<!-- NAVIGATION TABS -->
<div class="course-tabs">
    <a href="{% url 'view_materials' course.id %}">📘 Materials</a>
    <a href="{% url 'assignment_list' course.id %}">📝 Assignments</a>
    <a href="{% url 'leaderboard' course.id %}">🏆 Leaderboard</a>
    <a href="{% url 'doubt_box' course.id %}">💬 Doubts</a>
</div>
<!-- if user is teacher then only -->
{% if user == course.teacher %}
<div class="announcement-box" onclick="openModal()">
    📢 Make an announcement...
</div>
{% endif %}
<div class="modal" id="announcementModal">
    <div class="modal-content">
        <h3>Create Announcement</h3>

        <form method="POST" action="{% url 'create_announcement' course.id %}">
            {% csrf_token %}

            <textarea name="message" placeholder="Write your announcement..." required></textarea>

            <div class="modal-actions">
                <button type="button" class="cancel-btn" onclick="closeModal()">Cancel</button>
                <button type="submit" class="post-btn">Post</button>
            </div>
        </form>
    </div>
</div>
<div class="announcement-list">
{% if announcements %}
    {% for ann in announcements %}
        <div class="announcement-card">
             <small style="color:#aaa;">
         {{ ann.teacher.username }} • {{ ann.created_at }}
    </small>
            <p>{{ ann.message }}</p>
           
        </div>
    {% empty %}
        <p class="empty">No announcements yet</p>
    {% endfor %}
{% endif %}
</div>
<!-- TEACHER ACTION BUTTONS
<div class="teacher-actions">
    <a href="{% url 'upload_material' course.id %}" class="btn-primary">
        📤 Upload Material
    </a>

    <a href="{% url 'create_assignment' course.id %}" class="btn-primary">
        📝 Create Assignment
    </a>

    <a href="{% url 'update_course' course.id %}" class="btn-secondary">
        ✏ Edit Course
    </a>

    <a href="{% url 'delete_course' course.id %}" class="btn-danger">
        🗑 Delete Course
    </a>
</div> -->

{% endblock %}
