{% extends 'layout.html' %}
{% block title %}Course Materials{% endblock %}

{% block content %}

<!-- COURSE HEADER -->
<div class="course-banner">
    <div class="banner-left">
        <h1>{{ course.name }}</h1>
        <p>📘 Course Materials</p>
    </div>
</div>
<!-- TOP BAR -->
<div class="top-bar">

    <h2>Course Materials</h2>

    {% if request.user == course.teacher %}
        <a href="{% url 'upload_material' course.id %}" class="btn-primary">
            ➕ Create Material
        </a>
    {% endif %}

</div>
<!-- MATERIAL LIST -->
<div class="content">

    {% if materials %}
        {% for material in materials %}
            <div class="card">

                <!-- TITLE -->
                <h3>{{ material.title }}</h3>
                <p>{{ material.description }}</p>

                <!-- FILES -->
                <ul class="material-list">
                    {% for file in material.files.all %}
                        <li>
                             
                            <a href="{{ file.file.url }}" target="_blank">
                                📄{{ file.file.name|cut:"course_materials/" }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- ACTION BUTTONS (ONLY FOR TEACHER) -->
                {% if request.user == course.teacher %}
                <div class="material-actions">
                    <a href="{% url 'update_material' material.id %}" class="edit-btn">
                        ✏ Edit
                    </a>

                    <a href="{% url 'delete_material' material.id %}" class="delete-btn">
                        🗑 Delete
                    </a>
                </div>
                {% endif %}

            </div>
        {% endfor %}

    {% else %}
        <p class="empty">No materials uploaded yet.</p>
    {% endif %}

</div>

{% endblock %}