{% extends 'layout.html' %}

{% block title %}Course Materials{% endblock %}

{% block content %}
<h2>Course Materials - {{ course.name }}</h2>

<ul>
{% for material in materials %}
  <div class="material-block">
    <h3>{{ material.title }}</h3>
    <p>{{ material.description }}</p>

    {% if material.files.exists %}
      <ul>
        {% for file in material.files.all %}
      
          <li>
            <a href="{{ file.file.url }}">{{ file.file.name}}</a>
           
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No files</p>
    {% endif %}

    <!-- Material-level actions: one pair per material -->
     {% if user == course.teacher %}
    <div class="material-actions">
      <a href="{% url 'update_material' material.id %}">Edit</a>
      <a href="{% url 'delete_material' material.id %}">Delete</a>
    </div>
        {% endif %}
  </div>
  <hr>
{% endfor %}
</ul>
{% endblock %}