{% extends 'layout.html' %}
{% block title %}Submit Assignment{% endblock %}

{% block content %}

<!-- HEADER -->
<div class="course-banner">
    <div class="banner-left">
        <h1>📤 Submit Assignment</h1>
        <p>{{ assignment.course.name }}</p>
    </div>
</div>

<div class="content">
    <!-- SUBMIT CARD -->
    <div class="card">

        <!-- ASSIGNMENT INFO -->
        <h3>📝 {{ assignment.title }}</h3>

        <p style="color:#aaa;">
            {{ assignment.description }}
        </p>

        <!-- DUE DATE -->
        <p style="margin-top:10px; color:#fbc531;">
            ⏰ Due: {{ assignment.due_date|date:"M d, Y - H:i" }}
        </p>

        <hr style="margin:15px 0; border-color:#444;">

        <!-- FORM -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Upload File</label>
            <input type="file" name="file" required>

            <br><br>

            <button type="submit" class="btn">
                📤 Submit Assignment
            </button>
        </form>

    </div>

</div>

{% endblock %}