{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Online Classroom{% endblock %}</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <div>
            <strong>Online Classroom</strong>
        </div>

        <div>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}</span>

                {% if user.role == "student" %}
                    <a href="{% url 'student_dashboard' %}">Dashboard</a>
                {% elif user.role == "teacher" %}
                    <a href="{% url 'teacher_dashboard' %}">Dashboard</a>
                {% endif %}

                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>

    <!-- Main Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
        © 2026 Online Classroom System | Developed by Akshaya & Helly
    </div>

</body>
</html>
