{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Online Classroom{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div>
        <strong>Online Classroom</strong>
    </div>

    <div>
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span>

            {% if user.role == "student" %}
                <a href="{% url 'student_dashboard' %}">Dashboard</a>
            {% elif user.role == "teacher" %}
                <a href="{% url 'teacher_dashboard' %}">Dashboard</a>
            {% endif %}

            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</div>

<!-- MAIN LAYOUT -->
<div class="dashboard">

    <!-- SIDEBAR -->
    {% if user.is_authenticated and request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' %}
    <div class="sidebar">
        <h3>Menu</h3>

        <a href="#">🏠 Home</a>
        <a href="#">📅 Calendar</a>
        <a href="#">📝 To Do</a>

        <div class="sidebar-courses">
            <h4>Enrolled</h4>

            {% for course in courses %}
                <a href="{% url 'course_detail' course.id %}" class="course-item">
                    {{ course.name }}
                </a>
            {% empty %}
                <p class="empty">No courses</p>
            {% endfor %}
        </div>

        <a href="#">⚙ Settings</a>
    </div>
    {% endif %}

    <!-- PAGE CONTENT -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>

<!-- Footer -->
<div class="footer">
    © 2026 Online Classroom System | Developed by Akshaya & Helly
</div>


</body>
<script>
function toggleMenu(event) {
    event.stopPropagation(); // prevent closing immediately

    let menu = event.currentTarget.nextElementSibling;

    // Close all other menus
    document.querySelectorAll('.dropdown-menu').forEach(m => {
        if (m !== menu) m.style.display = 'none';
    });

    // Toggle current
    if (menu.style.display === 'block') {
        menu.style.display = 'none';
    } else {
        menu.style.display = 'block';
    }
}

// Close menu when clicking outside
document.addEventListener('click', function() {
    document.querySelectorAll('.dropdown-menu').forEach(m => {
        m.style.display = 'none';
    });
});
function openModal() {
    document.getElementById('announcementModal').style.display = 'flex';
}

function closeModal() {
    document.getElementById('announcementModal').style.display = 'none';
}

// Close when clicking outside
window.onclick = function(event) {
    let modal = document.getElementById('announcementModal');
    if (event.target === modal) {
        modal.style.display = "none";
    }
}
</script>

</html>